  <!
Filename:footer.ejs
Authorname:Vedank Patel
websitename:https://assignmen.herokuapp.com/
File Description:fil contains ending code for all other view pages and a site developer mark
-->
  <!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
    <div class="container-fluid bg-4 text-center">
  <h3 class="margin">Site developed by Vedank Patel</h3>
  </body>
</html>