<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
       <!-- CSS SECTION -->
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/Content/app.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
